<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonfire Memories</title>
    <link rel="stylesheet" href="../styles/buildCalculator.css">
</head>

<body>
    <script src="../scripts/components/navBar.js"></script>
    <div class="container">
        <script src="../scripts/components/sideBar.js"></script>
        <!-- <div class="sideBar">
            <div class="sideButtons">
                <button class="sideButton">HomePage</button>
                <button class="sideButton">Build Calculator</button>
                <button class="sideButton">New Post</button>
            </div>
        </div> -->
        <div class="main">

        </div>
    </div>
</body>

</html>