<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonfire Memories</title>
    <link rel="stylesheet" href="../styles/buildCalculator.css">
</head>

<body>
    <script src="../scripts/components/navBar.js"></script>
    <div class="container">
        <script src="../scripts/components/sideBar.js"></script>

        <div class="main">
            <div class="buildStatsContent">
                <div class="statsColumn">
                    <div class="stats">
                        <span class="characterName">Character Name</span>
                        <div class="stat">
                            <img src="../Assets/icons/icon-" alt="" class="icon"><span class="statName">Class:</span>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-level.png" alt="" class="icon"><span class="statName">Level:</span>
                            <div class="statLevels">
                                <div class="statLevel">1</div>
                                <div class="statLevel">1</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-vigor.png" alt="" class="icon"><span class="statName">Vigor:</span>
                            <div class="statLevels">
                                <div class="statLevel">1</div>
                                <div class="statLevel">1</div>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp"></button>
                                <button class="statButtonDown"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-attunement.png" alt="" class="icon"><span class="statName">Attunement:</span>
                            <div class="statLevels">
                                <div class="statLevel">1</div>
                                <div class="statLevel">1</div>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp"></button>
                                <button class="statButtonDown"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-endurance.png" alt="" class="icon"><span class="statName">Endurence:</span>
                            <div class="statLevels">
                                <div class="statLevel">1</div>
                                <div class="statLevel">1</div>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp"></button>
                                <button class="statButtonDown"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-vitality.png" alt="" class="icon"><span class="statName">Vitality:</span>
                            <div class="statLevels">
                                <div class="statLevel">1</div>
                                <div class="statLevel">1</div>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp"></button>
                                <button class="statButtonDown"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-strength.png" alt="" class="icon"><span class="statName">Strength:</span>
                            <div class="statLevels">
                                <div class="statLevel">1</div>
                                <div class="statLevel">1</div>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp"></button>
                                <button class="statButtonDown"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-dexterity.png" alt="" class="icon"><span class="statName">Dexterity:</span>
                            <div class="statLevels">
                                <div class="statLevel">1</div>
                                <div class="statLevel">1</div>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp"></button>
                                <button class="statButtonDown"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-intelligence.png" alt="" class="icon"><span class="statName">Inteligence:</span>
                            <div class="statLevels">
                                <div class="statLevel">1</div>
                                <div class="statLevel">1</div>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp"></button>
                                <button class="statButtonDown"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-faith.png" alt="" class="icon"><span class="statName">Faith:</span>
                            <div class="statLevels">
                                <div class="statLevel">1</div>
                                <div class="statLevel">1</div>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp"></button>
                                <button class="statButtonDown"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-luck.png" alt="" class="icon"><span class="statName">Luck:</span>
                            <div class="statLevels">
                                <div class="statLevel">1</div>
                                <div class="statLevel">1</div>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp"></button>
                                <button class="statButtonDown"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-souls-cost.png" alt="" class="icon"><span class="statName">Soul Cost:</span>
                            <div class="statLevels">
                                <div class="statLevel">1</div>
                                <div class="statLevel">1</div>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp"></button>
                                <button class="statButtonDown"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="statsColumn">
                    <div class="hfsColumn">
                        <div class="stat">
                            <img src="/Assets/icons/icon_hp.png" alt="" class="icon"><span class="statName">HP</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="/Assets/icons/icon-fp.png" alt="" class="icon"><span class="statName">FP</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="/Assets/icons/icon-stamina.png" alt="" class="icon"><span class="statName">Stamina</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                    </div>
                    <div class="eapiColumn">
                        <div class="stat">
                            <img src="../Assets/icons/icon_equip_load.png" alt="" class="icon"><span class="statName">Equip. Load</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-attunement-slots.png" alt="" class="icon"><span class="statName">Att. slots</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-poise.png" alt="" class="icon"><span class="statName">Poise</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-item-discovery.png" alt="" class="icon"><span class="statName">Item Disc.</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                    </div>
                    <div class="weaponDmgColumn">
                        <div class="stat">
                            <img src="../Assets/icons/r-weapon.png" alt="" class="icon"><span class="statName">R. Weapon 1</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/r-weapon.png" alt="" class="icon"><span class="statName">R. Weapon 2</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/r-weapon.png" alt="" class="icon"><span class="statName">R. Weapon 3</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/l-weapon.png" alt="" class="icon"><span class="statName">L. Weapon 1</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/l-weapon.png" alt="" class="icon"><span class="statName">L. Weapon 2</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/l-weapon.png" alt="" class="icon"><span class="statName">L. Weapon 3</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="statsColumn">
                    <div class="defenseColumn">
                        <div class="stat">
                            <img src="../Assets/icons/icon-physical-def.png" alt="" class="icon"><span class="statName">Phisical Def</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-strike-def.png" alt="" class="icon"><span class="statName">Strike </span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-slash-def.png" alt="" class="icon"><span class="statName">Slash </span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-thrust-def.png" alt="" class="icon"><span class="statName">Thrust </span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-magic-def.png" alt="" class="icon"><span class="statName">Magic Def</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-fire-def.png" alt="" class="icon"><span class="statName">Fire Def</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-lightning-def.png" alt="" class="icon"><span class="statName">Lightning Def</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-dark-def.png" alt="" class="icon"><span class="statName">Dark Def</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                    </div>
                    <div class="effectsColumn">
                        <div class="stat">
                            <img src="../Assets/icons/icon-bleed.png" alt="" class="icon"><span class="statName">Bleed Res</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-poison.png" alt="" class="icon"><span class="statName">Poison Res</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-frost.png" alt="" class="icon"><span class="statName">Frost Res</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-curse.png" alt="" class="icon"><span class="statName">Curse Res</span>
                            <div class="statValues">
                                <div class="currentValueStat">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat">100</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buildSelectsContent">
                <div class="verticalColumn">
                    <div class="statsColumn">
                        <div class="weaponSelectColumn">
                            <span class="titleSelects">Weapons</span>
                            <div class="stat">
                                <span class="statName">Right Hand 1</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                            <div class="stat">
                                <span class="statName">Right Hand 2</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                            <div class="stat">
                                <span class="statName">Right Hand 3</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                            <div class="stat">
                                <span class="statName">Left Hand 1</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                            <div class="stat">
                                <span class="statName">Right Hand 2</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                            <div class="stat">
                                <span class="statName">Right Hand 3</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                        </div>
                        <div class="ringsSelectColumn">
                            <span class="titleSelects">Rings</span>
                            <div class="stat">
                                <span class="statName">Ring 1</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                            <div class="stat">
                                <span class="statName">Ring 2</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                            <div class="stat">
                                <span class="statName">Ring 3</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                            <div class="stat">
                                <span class="statName">Ring 4</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                        </div>
                    </div>
                    <div class="statsColumn">
                        <div class="detailWeaponColumn">
                            <span class="titleSelects">Details</span>
                            <div class="stat">
                                <img src="/Assets/icons/icon-physical-dmg.png" alt="" class="icon"><span class="statName">Physical</span>
                                <div class="statValues">
                                    <div class="currentValueStat">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat">100</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="/Assets/icons/icon-magic-dmg.png" alt="" class="icon"><span class="statName">Magic</span>
                                <div class="statValues">
                                    <div class="currentValueStat">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat">100</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="/Assets/icons/icon-fire-dmg.png" alt="" class="icon"><span class="statName">Fire</span>
                                <div class="statValues">
                                    <div class="currentValueStat">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat">100</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="/Assets/icons/icon-lightning-dmg.png" alt="" class="icon"><span class="statName">Lightning</span>
                                <div class="statValues">
                                    <div class="currentValueStat">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat">100</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="/Assets/icons/icon-dark-dmg.png" alt="" class="icon"><span class="statName">Dark</span>
                                <div class="statValues">
                                    <div class="currentValueStat">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat">100</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="/Assets/icons/icon-bleed.png" alt="" class="icon"><span class="statName">Bleed</span>
                                <div class="statValues">
                                    <div class="currentValueStat">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat">100</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="/Assets/icons/icon-poison.png" alt="" class="icon"><span class="statName">Poison</span>
                                <div class="statValues">
                                    <div class="currentValueStat">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat">100</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="/Assets/icons/icon-frost.png" alt="" class="icon"><span class="statName">Frost</span>
                                <div class="statValues">
                                    <div class="currentValueStat">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat">100</div>
                                </div>
                            </div>
                            <span class="detailText">Hover over the weapon to view</span>
                        </div>
                    </div>
                    <div class="statsColumn">
                        <div class="armorSelectColumn">
                            <span class="titleSelects">Armor</span>
                            <div class="stat">
                                <span class="statName">Head</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                            <div class="stat">
                                <span class="statName">Chest</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                            <div class="stat">
                                <span class="statName">Hands</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                            <div class="stat">
                                <span class="statName">Legs</span> <select class="selectEquips" name="" id=""></select>
                            </div>
                        </div>
                        <div class="buttonsColumn">
                            <button class="buildButton">Load</button>
                            <button class="buildButton">Save</button>
                        </div>
                    </div>
                </div>
                <div class="horizontalColumn">
                    <div class="statsColumn">
                        <span class="titleSelects">Spells</span>
                        <div class="spells">
                            <div class="spell">
                                <select class="spellSelect" name="" id=""></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id=""></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id=""></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id=""></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id=""></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id=""></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id=""></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id=""></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id=""></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id=""></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id=""></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id=""></select>
                            </div>
                        </div>                    
                    </div>
                </div>
        </div>
    </div>
</body>
</html>
<script>
    
</script>