<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonfire Memories</title>
    <link rel="stylesheet" href="../styles/buildCalculator.css">
</head>

<body>
    <script src="../scripts/components/navBar.js"></script>
    <div class="container">
        <script src="../scripts/components/sideBar.js"></script>

        <div class="main">
            <div class="buildStatsContent">
                <div class="statsColumn">
                    <div class="stats">
                        <span class="characterName">Character Name</span>
                        <div class="stat">
                            <img src="../Assets/icons/icon-class.png" alt="" class="icon"><span class="statName">Class:</span>
                            <div class="class">
                                <select name="" id="class" class="classSelect">
                                    <option value="#" selected disabled>Select a Class</option>
                                    <option value="Knight">Knight</option>
                                    <option value="Mercenary">Mercenary</option>
                                    <option value="Warrior">Warrior</option>
                                    <option value="Herald">Herald</option>
                                    <option value="Thief">Thief</option>
                                    <option value="Assasin">Assasin</option>
                                    <option value="Sorcerer">Sorcerer</option>
                                    <option value="Pyromancer">Pyromancer</option>
                                    <option value="Cleric">Cleric</option>
                                    <option value="Deprived">Deprived</option>
                                </select>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-level.png" alt="" class="icon"><span class="statName">Level:</span>
                            <div class="statLevels">
                                <input class="statLevel" disabled id="initialLevel"></input>
                                <input class="statLevel" id="finalLevel"></input>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-vigor.png" alt="" class="icon"><span class="statName">Vigor:</span>
                            <div class="statLevels">
                                <input class="statLevel" disabled id="initialVigor"></input>
                                <input class="statLevel" id="finalVigor"></input>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp" id="upVigor"></button>
                                <button class="statButtonDown" id="downVigor"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-attunement.png" alt="" class="icon"><span class="statName">Attunement:</span>
                            <div class="statLevels">
                                <input class="statLevel" disabled id="initialAttunement"></input>
                                <input class="statLevel" id="finalAttunement"></input>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp" id="upAttunement"></button>
                                <button class="statButtonDown" id="downAttunement"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-endurance.png" alt="" class="icon"><span class="statName">Endurence:</span>
                            <div class="statLevels">
                                <input class="statLevel" disabled id="initialEndurance"></input>
                                <input class="statLevel" id="finalEndurance"></input>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp" id="upEndurance"></button>
                                <button class="statButtonDown" id="downEndurance"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-vitality.png" alt="" class="icon"><span class="statName">Vitality:</span>
                            <div class="statLevels">
                                <input class="statLevel" disabled id="initialVitality"></input>
                                <input class="statLevel" id="finalVitality"></input>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp" id="upVitality"></button>
                                <button class="statButtonDown" id="downVitality"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-strength.png" alt="" class="icon"><span class="statName">Strength:</span>
                            <div class="statLevels">
                                <input class="statLevel" disabled id="initialStrength"></input>
                                <input class="statLevel" id="finalStrength"></input>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp" id="upStrength"></button>
                                <button class="statButtonDown" id="downStrength"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-dexterity.png" alt="" class="icon"><span class="statName">Dexterity:</span>
                            <div class="statLevels">
                                <input class="statLevel" disabled id="initialDexterity"></input>
                                <input class="statLevel" id="finalDexterity"></input>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp" id="upDexterity"></button>
                                <button class="statButtonDown" id="downDexterity"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-intelligence.png" alt="" class="icon"><span class="statName">Inteligence:</span>
                            <div class="statLevels">
                                <input class="statLevel" disabled id="initialIntelligence"></input>
                                <input class="statLevel" id="finalIntelligence"></input>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp" id="upIntelligence"></button>
                                <button class="statButtonDown" id="downIntelligence"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-faith.png" alt="" class="icon"><span class="statName">Faith:</span>
                            <div class="statLevels">
                                <input class="statLevel" disabled id="initialFaith"></input>
                                <input class="statLevel" id="finalFaith"></input>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp" id="upFaith"></button>
                                <button class="statButtonDown" id="downFaith"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-luck.png" alt="" class="icon"><span class="statName">Luck:</span>
                            <div class="statLevels">
                                <input class="statLevel" disabled id="initialLuck"></input>
                                <input class="statLevel" id="finalLuck"></input>
                            </div>
                            <div class="statButtons">
                                <button class="statButtonUp" id="upLuck"></button>
                                <button class="statButtonDown" id="downLuck"></button>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-souls-cost.png" alt="" class="icon"><span class="statName">Soul Cost:</span>
                            <div class="statLevels">
                                <div class="statLevel soulCost" id="soulsCost"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="statsColumn">
                    <div class="hfsColumn">
                        <div class="stat">
                            <img src="../Assets/icons/icon_hp.png" alt="" class="icon"><span class="statName">HP</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialHP">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalHP"></div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-fp.png" alt="" class="icon"><span class="statName">FP</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialFP">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalFP"></div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-stamina.png" alt="" class="icon"><span class="statName">Stamina</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialStamina">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalStamina">00</div>
                            </div>
                        </div>
                    </div>
                    <div class="eapiColumn">
                        <div class="stat">
                            <img src="../Assets/icons/icon_equip_load.png" alt="" class="icon"><span class="statName">Equip. Load</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialEquipLoad">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalEquipLoad">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-attunement-slots.png" alt="" class="icon"><span class="statName">Att. slots</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialAttunementSlots">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalAttunementSlots">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-poise.png" alt="" class="icon"><span class="statName">Poise</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialPoise">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalPoise">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-item-discovery.png" alt="" class="icon"><span class="statName">Item Disc.</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialItemDiscovery">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalItemDiscovery">00</div>
                            </div>
                        </div>
                    </div>
                    <div class="weaponDmgColumn">
                        <div class="stat">
                            <img src="../Assets/icons/r-weapon.png" alt="" class="icon"><span class="statName">R. Weapon 1</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialR1Weapon">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalR1Weapon">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/r-weapon.png" alt="" class="icon"><span class="statName">R. Weapon 2</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialR2Weapon">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalR2Weapon">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/r-weapon.png" alt="" class="icon"><span class="statName">R. Weapon 3</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialR3Weapon">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalR3Weapon">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/l-weapon.png" alt="" class="icon"><span class="statName">L. Weapon 1</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialL1Weapon">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalL1Weapon">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/l-weapon.png" alt="" class="icon"><span class="statName">L. Weapon 2</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialL2Weapon">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalL2Weapon">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/l-weapon.png" alt="" class="icon"><span class="statName">L. Weapon 3</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialL3Weapon">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalL3Weapon">00</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="statsColumn">
                    <div class="defenseColumn">
                        <div class="stat">
                            <img src="../Assets/icons/icon-physical-def.png" alt="" class="icon"><span class="statName">Phisical Def</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialPhysicalDef">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalPhysicalDef">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-strike-def.png" alt="" class="icon"><span class="statName">Strike </span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialStikeDef">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalStrikeDef">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-slash-def.png" alt="" class="icon"><span class="statName">Slash </span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialSlashDef">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalSlashDef">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-thrust-def.png" alt="" class="icon"><span class="statName">Thrust </span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialThrustDef">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalThrustDef">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-magic-def.png" alt="" class="icon"><span class="statName">Magic Def</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialMagicDef">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalMagicDef">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-fire-def.png" alt="" class="icon"><span class="statName">Fire Def</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialFireDef">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalFireDef">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-lightning-def.png" alt="" class="icon"><span class="statName">Lightning Def</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialLightningDef">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalLightningDef">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-dark-def.png" alt="" class="icon"><span class="statName">Dark Def</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialDarkDef">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalDarkDef">00</div>
                            </div>
                        </div>
                    </div>
                    <div class="effectsColumn">
                        <div class="stat">
                            <img src="../Assets/icons/icon-bleed.png" alt="" class="icon"><span class="statName">Bleed Res</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialBlood">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalBlood">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-poison.png" alt="" class="icon"><span class="statName">Poison Res</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialPoison">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalPoison">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-frost.png" alt="" class="icon"><span class="statName">Frost Res</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialFrost">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalFrost">00</div>
                            </div>
                        </div>
                        <div class="stat">
                            <img src="../Assets/icons/icon-curse.png" alt="" class="icon"><span class="statName">Curse Res</span>
                            <div class="statValues">
                                <div class="currentValueStat" id="initialCurse">0</div>
                                <span class="statArrow">></span>
                                <div class="futureValueStat" id="finalCurse">00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buildSelectsContent">
                <div class="verticalColumn">
                    <div class="statsColumn">
                        <div class="weaponSelectColumn">
                            <span class="titleSelects">Weapons</span>
                            <div class="stat">
                                <span class="statName">Right Hand 1</span>
                                <select class="selectEquips" name="" id="R1Select">

                                </select>
                            </div>
                            <div class="stat">
                                <span class="statName">Right Hand 2</span>
                                <select class="selectEquips" name="" id="R2Select">

                                </select>
                            </div>
                            <div class="stat">
                                <span class="statName">Right Hand 3</span>
                                <select class="selectEquips" name="" id="R3Select">

                                </select>
                            </div>
                            <div class="stat">
                                <span class="statName">Left Hand 1</span>
                                <select class="selectEquips" name="" id="L1Select">

                                </select>
                            </div>
                            <div class="stat">
                                <span class="statName">Left Hand 2</span>
                                <select class="selectEquips" name="" id="L2Select">

                                </select>
                            </div>
                            <div class="stat">
                                <span class="statName">Left Hand 3</span>
                                <select class="selectEquips" name="" id="L3Select">

                                </select>
                            </div>
                        </div>
                        <div class="ringsSelectColumn">
                            <span class="titleSelects">Rings</span>
                            <div class="stat">
                                <span class="statName">Ring 1</span>
                                <select class="selectEquips" name="" id="Ring1Select">

                                </select>
                            </div>
                            <div class="stat">
                                <span class="statName">Ring 2</span> 
                                <select class="selectEquips" name="" id="Ring2Select">

                                </select>
                            </div>
                            <div class="stat">
                                <span class="statName">Ring 3</span> 
                                <select class="selectEquips" name="" id="Ring3Select">

                                </select>
                            </div>
                            <div class="stat">
                                <span class="statName">Ring 4</span>
                                <select class="selectEquips" name="" id="Ring4Select">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="statsColumn">
                        <div class="detailWeaponColumn">
                            <span class="titleSelects">Details</span>
                            <div class="stat">
                                <img src="../Assets/icons/icon-physical-dmg.png" alt="" class="icon"><span class="statName">Physical</span>
                                <div class="statValues">
                                    <div class="currentValueStat" id="initialPhysicalDmg">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat" id="finalPhysicalDmg">00</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="../Assets/icons/icon-magic-dmg.png" alt="" class="icon"><span class="statName">Magic</span>
                                <div class="statValues">
                                    <div class="currentValueStat" id="initialMagicDmg">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat" id="finalMagicDmg">00</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="../Assets/icons/icon-fire-dmg.png" alt="" class="icon"><span class="statName">Fire</span>
                                <div class="statValues">
                                    <div class="currentValueStat" id="initialFireDmg">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat" id="finalFireDmg">00</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="../Assets/icons/icon-lightning-dmg.png" alt="" class="icon"><span class="statName">Lightning</span>
                                <div class="statValues">
                                    <div class="currentValueStat" id="initialLighningDmg">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat" id="finalLightningDmg">00</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="../Assets/icons/icon-dark-dmg.png" alt="" class="icon"><span class="statName">Dark</span>
                                <div class="statValues">
                                    <div class="currentValueStat" id="initialDarkDmg">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat" id="finalDarkDmg">00</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="../Assets/icons/icon-bleed.png" alt="" class="icon"><span class="statName">Bleed</span>
                                <div class="statValues">
                                    <div class="currentValueStat" id="iniitalBleedEffect">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat" id="finalBleedEffect">00</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="../Assets/icons/icon-poison.png" alt="" class="icon"><span class="statName">Poison</span>
                                <div class="statValues">
                                    <div class="currentValueStat" id="initialPoisonEffect">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat" id="finalPoisonEffect">00</div>
                                </div>
                            </div>
                            <div class="stat">
                                <img src="../Assets/icons/icon-frost.png" alt="" class="icon"><span class="statName">Frost</span>
                                <div class="statValues">
                                    <div class="currentValueStat" id="initialFrostEffect">0</div>
                                    <span class="statArrow">+</span>
                                    <div class="futureValueStat" id="finalFrostEffect">00</div>
                                </div>
                            </div>
                            <span class="detailText">Hover over the weapon to view</span>
                        </div>
                    </div>
                    <div class="statsColumn">
                        <div class="armorSelectColumn">
                            <span class="titleSelects">Armor</span>
                            <div class="stat">
                                <span class="statName">Head</span>
                                <select class="selectEquips" name="" id="helmetSelect">

                                </select>
                            </div>
                            <div class="stat">
                                <span class="statName">Chest</span>
                                <select class="selectEquips" name="" id="chestSelect">

                                </select>
                            </div>
                            <div class="stat">
                                <span class="statName">Hands</span>
                                <select class="selectEquips" name="" id="handsSelect">

                                </select>
                            </div>
                            <div class="stat">
                                <span class="statName">Legs</span>
                                <select class="selectEquips" name="" id="legsSelect">

                                </select>
                            </div>
                        </div>
                        <div class="buttonsColumn">
                            <button class="buildButton" id="loadButton">Load</button>
                            <button class="buildButton" id="Savebutton">Save</button>
                        </div>
                    </div>
                </div>
                <div class="horizontalColumn">
                    <div class="statsColumn">
                        <span class="titleSelects">Spells</span>
                        <div class="spells">
                            <div class="spell">
                                <select class="spellSelect" name="" id="1Spell"></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id="2Spell"></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id="3Spell"></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id="4Spell"></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id="5Spell"></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id="6Spell"></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id="7Spell"></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id="8Spell"></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id="9Spell"></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id="10Spell"></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id="11Spell"></select>
                            </div>
                            <div class="spell">
                                <select class="spellSelect" name="" id="12"></select>
                            </div>
                        </div>                    
                    </div>
                </div>
        </div>
    </div>
    <script defer src="../scripts/buildCalculator.js"></script>    
</body>
</html>