<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/dashboard.css">
</head>
<body>
    <script src="../scripts/components/navBar.js"></script>
    <div class="container">
        <script src="../scripts/components/sideBar.js"></script>
        <div class="main">
            <div class="KPIs">
                <div class="KPI">
                    <span class="KPITitle">Most used class</span>
                    <input class="KPIValue" type="text" value="Equip" disabled>
                </div>
                <div class="KPI">
                    <span class="KPITitle">Most used ring</span>
                    <input class="KPIValue" type="text" value="Equip" disabled>
                </div>
                <div class="KPI">
                    <span class="KPITitle">Most used weapon</span>
                    <input class="KPIValue" type="text" value="Equip" disabled>
                </div>
            </div>
            <div class="graphic1">

            </div>
            <div class="graphic2">

            </div>
        </div>
    </div>
</body>
</html>