<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bonfire Memories</title>
    <link rel="stylesheet" href="../styles/homePage.css" />
  </head>
  <body>
    <script src="../scripts/components/newPostModal.js"></script>
    <script src="../scripts/components/modalRegister.js"></script>
    <script src="../scripts/components/modalLogin.js"></script>
    <script src="../scripts/components/navBar.js"></script>
    <div class="container">
      <script src="../scripts/components/sideBar.js"></script>
      <div class="main">
        <!-- <div class="post" onclick="funcao(idPost)">
          <div class="postBar">
            <div class="profilePost">
              <div class="profileImage" id="postOwnerPicture"></div>
              <span id="postOwnerName">@userName</span>
            </div>
            <span class="postTitle" id="postTitle"></span>
          </div>
          <div class="postBox">
            <div class="postContent">
              <span class="postText" id="postCaption"></span>
              <div class="postImage" id="postImage"></div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <script defer src="../scripts/feed.js"></script>  
  </body>
</html>