<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bonfire Memories</title>
    <link rel="stylesheet" href="/styles/homePage.css" />
  </head>

  <body>
    <script src="/scripts/components/modalRegister.js"></script>
    <script src="/scripts/components/modalLogin.js"></script>
    <script src="/scripts/components/navBar.js"></script>
    <div class="container">
      <script src="/scripts/components/sideBar.js"></script>
      <div class="main">
        <div class="post">
          <div class="postBar">
            <div class="profilePost">
              <div class="profileImage"></div>
              <span>@userName</span>
            </div>
            <span class="postTitle">A lore de Dark souls 3</span>
            <div class="postLikes">
              <span>100</span>
              <div class="likeIcon"></div>
            </div>
          </div>
          <div class="postBox">
            <div class="postContent">
              <span class="postText"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus incidunt maxime, magnam saepe, non voluptatum unde
                quos deserunt distinctio tempora veniam, voluptas facilis est
                blanditiis numquam dolore quo? Recusandae, aliquam.</span
              >
              <div class="postImage"></div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="postBar">
            <div class="profilePost">
              <div class="profileImage"></div>
              <span>@userName</span>
            </div>
            <span class="postTitle">Titulo da Publicação</span>
            <div class="postLikes">
              <span>100</span>
              <div class="likeIcon"></div>
            </div>
          </div>
          <div class="postBox">
            <div class="postContent">
              <span class="postText"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus incidunt maxime, magnam saepe, non voluptatum unde
                quos deserunt distinctio tempora veniam, voluptas facilis est
                blanditiis numquam dolore quo? Recusandae, aliquam.</span
              >
              <div class="postImage"></div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="postBar">
            <div class="profilePost">
              <div class="profileImage"></div>
              <span>@userName</span>
            </div>
            <span class="postTitle">Titulo da Publicação</span>
            <div class="postLikes">
              <span>100</span>
              <div class="likeIcon"></div>
            </div>
          </div>
          <div class="postBox">
            <div class="postContent">
              <span class="postText"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus incidunt maxime, magnam saepe, non voluptatum unde
                quos deserunt distinctio tempora veniam, voluptas facilis est
                blanditiis numquam dolore quo? Recusandae, aliquam.</span
              >
              <div class="postImage"></div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="postBar">
            <div class="profilePost">
              <div class="profileImage"></div>
              <span>@userName</span>
            </div>
            <span class="postTitle">Titulo da Publicação</span>
            <div class="postLikes">
              <span>100</span>
              <div class="likeIcon"></div>
            </div>
          </div>
          <div class="postBox">
            <div class="postContent">
              <span class="postText"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus incidunt maxime, magnam saepe, non voluptatum unde
                quos deserunt distinctio tempora veniam, voluptas facilis est
                blanditiis numquam dolore quo? Recusandae, aliquam.</span
              >
              <div class="postImage"></div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="postBar">
            <div class="profilePost">
              <div class="profileImage"></div>
              <span>@userName</span>
            </div>
            <span class="postTitle">Titulo da Publicação</span>
            <div class="postLikes">
              <span>100</span>
              <div class="likeIcon"></div>
            </div>
          </div>
          <div class="postBox">
            <div class="postContent">
              <span class="postText"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus incidunt maxime, magnam saepe, non voluptatum unde
                quos deserunt distinctio tempora veniam, voluptas facilis est
                blanditiis numquam dolore quo? Recusandae, aliquam.</span
              >
              <div class="postImage"></div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="postBar">
            <div class="profilePost">
              <div class="profileImage"></div>
              <span>@userName</span>
            </div>
            <span class="postTitle">Titulo da Publicação</span>
            <div class="postLikes">
              <span>100</span>
              <div class="likeIcon"></div>
            </div>
          </div>
          <div class="postBox">
            <div class="postContent">
              <span class="postText"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellendus incidunt maxime, magnam saepe, non voluptatum unde
                quos deserunt distinctio tempora veniam, voluptas facilis est
                blanditiis numquam dolore quo? Recusandae, aliquam.</span
              >
              <div class="postImage"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>