<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonfire Memories</title>
    <link rel="stylesheet" href="../styles/homePage.css">
</head>
<body>
    <div class="navBar">
        <div class="divLogo">
            <img src="../../Assets/logo.png" alt="" class="logo">
            <span>Bonfire Memories</span>
        </div>
        <input type="text" class="searchBar" maxlength="50">
        <div class="navButtons">
            <button class="enterButton">Enter</button>
            <button class="profButton"></button>
        </div>
    </div>
    <div class="container">
        <div class="sideBar">
            <div class="sideButtons">
                <button class="sideButton">HomePage</button>
                <button class="sideButton">Build Calculator</button>
                <button class="sideButton">New Post</button>
            </div>
        </div>
        <div class="main">
            <div class="post">
                <div class="postBar"></div>
                <div class="postContent"></div>
            </div>
        </div>
    </div>
</body>
</html>