<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bonfire Memories</title>
    <link rel="stylesheet" href="../styles/profile.css" />
  </head>
  <body>
    <script src="../scripts/components/navBar.js"></script>
    <div class="container">
      <script src="../scripts/components/sideBar.js"></script>
      <div class="main">
        <div class="profileContent">
          <div class="profileColumn">
            <img
              src="/Assets/icons/icon-user.png"
              alt="User Profile Picture"
              class="profilePicture"
            />
            <span class="userNameLabel" id="userName">UserName</span>
            <div class="profileButtons">
              <button class="profileButton">Edit Profile</button>
              <button class="profileButton" onclick="logout()">Log Out</button>
            </div>
            <div class="profileInfo">
              <div class="infoLabel"><span>Builds:</span><span>155</span></div>
              <div class="infoLabel"><span>Posts:</span><span>155</span></div>
            </div>
          </div>
          <div class="profileColumn">
            <div class="profilePost">
              <div class="postPreview">
                <div class="postContent">
                  <span class="postTitle">Titulo do Post</span>
                  <span class="postLikes"
                    >100
                    <img
                      class="likeIcon"
                      src="/Assets/icons/icon-estus.gif"
                      alt=""
                  /></span>
                </div>
                <img src="/Assets/imageTest.jpg" alt="" class="postImage" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script defer src="../scripts/profile.js"></script>
  </body>
</html>
