@import url(components.css);


body {
    background-image: url('../Assets/backgroundBuildCalculator.jpg');
}

.main{
    padding-top: 30px;
    gap: 10px;
}

.buildStatsContent{
    border: var(--gold) 4px solid;
    width: 80%;
    min-height: 96%;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    display: flex;
    gap: 10px;
}

.statsColumn{
    /* border: red 1px solid; */
    /* background-color: var(--darkGray); */
    width: 32%;
    height: 98%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.stats{
    border: var(--gold) 4px solid;
    height: 100%;
    background-color: var(--darkGray);
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    align-items: center;
    gap: 10px;
}

.characterName{
    font-size: 35px;
    border: transparent;
    border-bottom: var(--gold) 3px solid;
    height: fit-content;
    background-color: var(--darkGray);
    width: 92%;
    text-align: center;
}

.stat{
    height: 40px;
    width: 92%;
    align-items: center;
    display: flex;
    /* border: red 1px solid; */
    border-bottom: var(--gold) 3px solid;
}

.icon{
    width: 30px;
    height: 30px;
}

.statName{
    font-size: 22px;
    padding-left: 10px;
    /* border: green 1px solid; */
    width: 40%;
}

.statLevels{
    /* border: red 1px solid; */
    width: 100px;
    height: 35px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.statLevel{
    height: 30px;
    width: 30px;
    /* border: blue 1px solid; */
    background-color: rgb(238, 238, 238);
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-align: center;
}

.statButtons{
    /* border: red 1px solid; */
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.statButtonUp{
    height: 30px;
    width: 30px;
    border-radius: 0;
    background-image: url('../Assets/icons/icon-arrow-level.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    rotate: 270deg;
}


.statButtonDown{
    height: 30px;
    width: 30px;
    border-radius: 0;
    background-image: url('../Assets/icons/icon-arrow-level.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    rotate: 90deg;
}

.statButtonUp:hover, .statButtonDown:hover{
    background-color: transparent;
}

.hfsColumn{
    border: var(--gold) 4px solid;
    background-color: var(--darkGray);
    height: 25%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.statValues{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.statArrow{
    font-size: 20px;
    width: 10px;
    text-align: center;
}

.currentValueStat{
    font-size: 25px;
    width: 50px;
    text-align: center;
}

.futureValueStat{
    font-size: 25px;
    width: 50px;
    text-align: center;
}

.eapiColumn{
    border: var(--gold) 4px solid;
    background-color: var(--darkGray);
    height: 30%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weaponDmgColumn{
    border: var(--gold) 4px solid;
    background-color: var(--darkGray);
    height: 41%;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.defenseColumn{
    border: var(--gold) 4px solid;
    background-color: var(--darkGray);
    height: 62%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.effectsColumn{
    border: var(--gold) 4px solid;
    background-color: var(--darkGray);
    height: 45%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.weaponSelectColumn{
    border: var(--gold) 4px solid;
    background-color: var(--darkGray);
    height: 55%;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ringsSelectColumn{
    border: var(--gold) 4px solid;
    background-color: var(--darkGray);
    height: 45%;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleSelects{
    font-size: 30px;
    text-align: center;
}

.selectEquips{
    border: var(--gold) 3px solid;
    background-color: var(--darkGray);
    color: white;
    width: 60%;
    height: 80%;
    font-size: 20px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.selectEquips:focus{
    outline: none;
}

.detailWeaponColumn{
    border: var(--gold) 4px solid;
    background-color: var(--darkGray);
    height: 100%;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detailText{
    font-size: 20px;
}

.armorSelectColumn{
    border: var(--gold) 4px solid;
    background-color: var(--darkGray);
    height: 50%;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detailWeaponColumn .stat{
    display: none;
}

.buttonsColumn{
    border: var(--gold) 4px solid;
    background-color: var(--darkGray);
    height: 50%;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buildButton{
    width: 70%;
    height: 20%;
    font-size: 30px;
    background-color: transparent;
}

.buildSelectsContent{
    border: var(--gold) 4px solid;
    width: 80%;
    min-height: 120%;
    justify-content: center;
    align-items: center;
    /* border: blue 1px solid; */
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}


.verticalColumn{
    display: flex;
    /* border: blue 1px solid; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    min-width: 100%;
    min-height: 70%;
}

.horizontalColumn{
    /* border: blue 1px solid; */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.horizontalColumn .statsColumn{
    width: 97%;
    border: var(--gold) 4px solid;
    flex-wrap: wrap;
}

.spells{
    display: flex;
    flex-wrap: wrap;
    /* border: green 1px solid; */
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.spell{
    width: 30%;
    display: flex;
    flex-direction: row;
    /* border: purple 1px solid; */
    align-items: center;
    height: 40px;
}

.spellSelect{
    border: var(--gold) 3px solid;
    background-color: transparent;
    width: 100%;
    height: 80%;
    background-color: var(--darkGray);
    font-size: 20px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spellSelect:focus{
    outline: none;
}

.class{
    width: 90%;
}

.classSelect {
    width: 100%;
    border: var(--gold) 3px solid;
    background-color: var(--darkGray);
    font-size: 20px;
    text-align: center;
}

.classSelect:focus{
    outline: none;
}

.soulCost{
    width: 100px;
}