@import url(root.css);

button{
    border-radius: 50px;
    background-color: var(--darkGreen);
    border: 4px var(--lightOrange) solid;
    cursor: pointer;
}

.navBar{
    /* border: red 1px solid; */
    height: 85px;
    /* position: fixed; */
    width: 100vw;
    background-color: var(--darkGreen);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 65px;
    padding-right: 40px;
}

.sideBar{
    /* border: blue 1px solid; */
    height: calc(100vh - 85px);
    width: 250px;
    /* position: fixed; */
    bottom: 0;
    background-color: var(--darkGreen);
    padding-top: 60px;
}

.main {
    height: calc(100vh - 85px);
    width: calc(100vw - 200px);
    bottom: 0;
    overflow: auto; /* Permite rolagem se o conteúdo exceder */
    background-size: cover; /* Ajusta o fundo sem distorcer */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
    justify-content: flex-start; 
    align-items: center; 
    box-sizing: border-box; 
}


.container{
    display: flex;
}

.divLogo .logo{
    width: 80px;
    height: 60px;
}

.searchBar{
    width: 35%;
    height: 40px;
    border: 3px solid var(--lightOrange);
    border-radius: 60px;
    background-color: var(--ice);
    padding-left: 10px;
    color: var(--black);
    font-size: 20px;
}

.searchBar:focus{
    outline: none;
}

.enterButton{
    width: 120px;
    height: 40px;
    font-size: 15px;
}


.profButton{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url('../Assets/icons/icon-user.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

button:hover{
    background-color: var(--lightOrange);
}

.navButtons{
    width: 18%;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.divLogo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sideButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* border: red 1px solid; */
}

.sideButton{
    height: 45px;
    width: 200px;
    font-size: 15px;
}

/* Login */

.modalLogin{
    position: absolute;
    background-color: var(--blackTransparent);
    /* border: white 2px solid; */
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.mainLogin{
    border: var(--gold) 4px solid;
    background-color: var(--black);
    width: 65%;
    height: 80%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.loginContent{
    border: var(--gold) 4px solid;
    height: 90%;
    width: 40%;
    background-color: var(--darkGray);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.loginLogo{
    width: 300px;
    height: 250px;
    background-image: url('../Assets/logo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.loginLogoText{
    font-size: 50px;
    text-decoration: underline;
}

.inputsLogin{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.inputLogin{
    border: 0px transparent;
}
.inputLogin{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-bottom: 4px solid var(--gold);
    background-color: transparent;
    font-size: 30px;
}

.inputLogin:focus{
    outline: none;
}

.buttonsLogin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 90%;
}

.buttonLogin{
    height: 50px;
    width: 180px;
    font-size: 25px;
}

.loginText{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 30%;
}

.errorMessageLogin{
    color: red;
    font-size: 20px;
    display: none;
}

/* Register */

.registerModal{
    position: absolute;
    background-color: var(--blackTransparent);
    /* border: white 2px solid; */
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.registerMain{
    border: var(--gold) 4px solid;
    background-color: var(--black);
    width: 65%;
    height: 80%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.registerText{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10%;
}

.inputsRegister{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.inputRegister{
    border: 0px transparent;
}
.inputRegister{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-bottom: 4px solid var(--gold);
    background-color: transparent;
    font-size: 30px;
}

.inputRegister:focus{
    outline: none;
}

.buttonsRegister{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 90%;
}

.buttonRegister{
    height: 50px;
    width: 180px;
    font-size: 25px;
}

.registerContent{
    border: var(--gold) 4px solid;
    height: 90%;
    width: 40%;
    background-color: var(--darkGray);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.registerLogo{
    width: 300px;
    height: 250px;
    background-image: url('../Assets/logo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.registerLogoText{
    font-size: 50px;
    text-decoration: underline;
}

.listModal{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--blackTransparent);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.buildList{
    background-color: var(--darkGray);
    border: var(--gold) 3px solid;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

.list{
    overflow: auto;
    height: 80%;
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    justify-content: flex-start;
    align-items: center;
}

.listTitle{
    font-size: 40px;
    text-decoration: underline;
}

.listItem{
    border: 3px solid var(--gold);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    background-color: var(--darkGreen);
    flex-direction: row;
    gap: 30px;
    border-radius: 10px;
}

.buildListName{
    font-size: 30px;
    /* border: white 1px solid; */
    width: 50%;
    text-align: center;
}

.buildListLevel{
    font-size: 25px;
    /* border: white 1px solid; */
    width: 50%;
    text-align: center;
}