@import url(components.css);

body {
    background-image: url('../../Assets/backgroundHome.jpg');
}

.main{
    padding-top: 30px;
    gap: 30px;
}

/* .post {
    width: 70%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.700);
    border-radius: 50px;
} */

.post {
    width: 70%; 
    min-height: 90%; 
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    overflow: hidden; 
}

.postBar{
    background-color: var(--darkGreen);
    width: 100%;
    height: 20%;
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    flex-direction: row;
    padding-right: 50px;
}

.postBox{
    /* border: red 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border-radius: 50px;
}

.postContent{
    width: 90%;
    /* border: red 1px solid; */
    height: 80%;
    border-radius: 50px;
    background-color: var(--darkGreen);
}

.profilePost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: red 1px solid;
}

.profilePost span{
    color: var(--blue);
}

.profileImage{
    width: 50px;
    height: 50px;
    /* border: red 1px solid; */
    border-radius: 50%;
    background-image: url('../../Assets/icons/icon-user.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.postLikes{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: red 1px solid;
    font-size: 20px;
}

.likeIcon{
    background-image: url('../../Assets/icons/icon-estus.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
}

.postTitle{
    font-size: 30px;
    color: var(--ice);
}