@import url(components.css);

body {
    background-image: url('../Assets/backgroundHome.jpg');
}

.main{
    padding-top: 30px;
    gap: 30px;
}


.post {
    width: 70%; 
    min-height: 90%; 
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    overflow: hidden; 
}

.postBar{
    background-color: var(--darkGreen);
    width: 100%;
    height: 20%;
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    flex-direction: row;
    padding-right: 50px;
}

.postBox{
    /* border: red 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    border-radius: 50px;
}

.postContent{
    width: 90%;
    /* border: red 1px solid; */
    height: 90%;
    border-radius: 30px;
    background-color: var(--darkGreen);
    /* border: white 1px solid; */
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

}

.profilePost{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: red 1px solid; */
}

.profilePost span{
    color: var(--blue);
    font-size: 26px;
}

.profileImage{
    width: 70px;
    height: 70px;
    border: var(--darkOrange) 2px solid;
    /* border: red 1px solid; */
    border-radius: 50%;
    background-position: center;
    /* background-image: url('../Assets/icons/icon-user.png'); */
    background-size: 90% 90%;
    background-repeat: no-repeat;
}

.postLikes{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: red 1px solid; */
    font-size: 20px;
}

.likeIcon{
    background-image: url('../Assets/icons/icon-estus.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
}

.postTitle{
    font-size: 30px;
    /* border: white 1px solid; */
    color: var(--ice);
    text-align: center;
    width: 60%;
}

.postText{
    padding: 2px;
    font-size: 25px;
    min-width: 45%;
    min-height: 20%;
    max-height: fit-content;
    max-width: 45%;
    /* border: solid white 1px; */
    text-align: center;
    /* border: white 1px solid; */
    /* overflow: hidden; */
}

.postImage{
    border: var(--gold) 3px solid;
    width: 50%;
    height: 80%;
    background-image: url('../Assets/imageTest.jpg');
    background-size: contain;
    background-color: var(--black);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.OpenmodalPost{
    position: absolute;
    background-color: var(--blackTransparent);
    /* border: white 2px solid; */
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.OpenPostMain{
    width: 55%;
    background-color: var(--black);
    height: 90%;
    border: var(--gold) 4px solid;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.OpenTopDivPost{
    /* border: white solid 1px; */
    width: 95%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.OpenPostTitle{
    font-size: 40px;
    text-align: center;
    width: 20%;
    padding: 10px;
    border-bottom: var(--gold) 3px solid;
}

.OpenBottomDivPost{
    /* border: white solid 1px; */
    width: 95%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.textAreaOpenPost{
    resize: none;
    width: 70%;
    height: 80%;
    background-color: var(--darkGreen);
    border: var(--gold) 3px solid;
    outline: none;
    padding: 10px;
    text-align: center;
    text-justify: auto;
    font-size: 20px;
}

.previewOpenPostImage{
    border: var(--gold) 3px dashed;
    background-color: var(--darkGreen);
    height: 100%;
    width: 60%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.buttonsNewPost{
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    /* border: white solid 1px; */
}

.postButton{
    width: 20%;
    height: 40%;
    font-size: 20px;
}

.OpenPostBuildName{
    font-size: 20px;
}

.BuildCase{
    font-size: 20px;
    display: none;
}