@import url(components.css);

.main{
    background-image: url('../Assets/backgroundHome.jpg');
    justify-content: center;
}

.profileContent{
    width: 80%;
    height: 80%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.profileColumn{
    width: 45%;
    height: 90%;
    /* border: white 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.profilePicture{
    width: 200px;
    height: 200px;
    border: 3px solid var(--gold);
    border-radius: 50%;
}

.profileButtons{
    height: 10%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profileButton{
    width: 45%;
    cursor: pointer;
    height: 75%;
    background-color: var(--black);
    font-size: 20px;
}

.userNameLabel{
    border: var(--gold) solid 3px ;
    width: 70%;
    background-color: var(--darkGreen);
    height: 6%;
    font-size: 25px;
    text-align: center;
    align-content: center;
}

.profileInfo{
    border: var(--gold) 3px solid;
    width: 70%;
    height: 35%;
    background-color: var(--darkGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.infoLabel{
    border-bottom: var(--gold) 4px solid;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
}

.infoLabel span{
    font-size: 25px;
    width: 50%;
}

.profilePost{
    border: var(--gold) 4px solid;
    width: 100%;
    height: 100%;
    background-color: var(--darkGray);
    bottom: 0;
    overflow: auto; /* Permite rolagem se o conteúdo exceder */
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
    justify-content: flex-start; 
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.postPreview{
    min-width: 95%;
    min-height: 30%;
    border: var(--gold) 4px solid;
    justify-content: center;
    align-items: center;
    display: flex;
}

.postImage{
    max-width: 250px;
    min-width: 250px;
}

.postContent{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.postTitle{
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.postLikes{
    font-size: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.likeIcon{
    width: 40px;
}