:root{
    --darkGreen: #141D1D;
    --ice:#95B1AF;
    --lightOrange: #A25327;
    --blue:#406C94;
    --gold:#4A4833;
    --darkGray:#151515;
    --darkOrange:#8C3C08;
    --black:#111111;
    --blackTransparent:#111111ab;
    --textColor: #FAFAFA;
}

@font-face {
  font-family: 'OptimusPrinceps';
  src: url('../../Assets/fonts/Dark-Soul/OptimusPrinceps.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OptimusPrincepsBold';
  src: url('../../Assets/fonts/Dark-Soul/OptimusPrincepsSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--textColor);
  font-family: 'OptimusPrinceps, sans-serif';
}

body{
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: var(--lightOrange);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--darkOrange);
}